body {
    background-color: rgb(8, 185, 155);
    text-align: center;
}

.btn {
    background: linear-gradient(45deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffee, #2b65ff, #8000ff);
    background-size: 300% 300%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    animation: gradientAnimation 6s infinite linear;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}
body{
    background: linear-gradient(45deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffee, #2b65ff, #8000ff);
    background-size: 300% 300%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    animation: gradientAnimation 6s infinite linear;

}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
